body {
background-image: url("../png/pop.png");
    background-size: 1470px 840px; /* Ширина x Высота */
}

#main_table {
    border: none;
    padding: 0;
    width: 100%;
}

#header {
    font-family: serif;
    font-size: xx-large;
    color: aliceblue;
    border: 2px solid aliceblue;
    border-radius: 20px;
    text-align: center;
}

#response_table {
    width: 100%;
    border: 1px solid aliceblue;
    border-radius: 10px;
    border-spacing: 0;
    text-align: center;
    margin-top: 3%;
}

#main_form {
    margin-top: 3%;
    margin-bottom: 3%;
}

#clock {
    width: 50%;
    position: absolute;
    left: 278px;
    border-radius: 10px;
    background: #a86c6c;
    text-align: center;
    margin-top: 3%;
    margin-bottom: 3%;
    font-size: xx-large;
}

button {
    border-radius: 9px;
    opacity: 80%;
    border: none;
}

#response_table > thead {
    font-weight: bold;
}

button:hover {
    opacity: 100%;
}

input {
    margin-top: 1%;
    margin-bottom: 1%;
}

input[type="submit"]:hover {
    opacity: 100%;
}

button[type="submit"] {
    background-color: aliceblue;
    width: 50%;
}

input[type="submit"] {
    border-radius: 9px;
    opacity: 80%;
    border: none;
    background-color: aliceblue;
}
.leftside{
    float: left;
    width: 50%;
    background: rgba(128, 128, 128, 0.7);
    border: 1px solid aliceblue;
    border-radius: 10px;
}
.rightside{
    float: right;
    background: rgba(28, 21, 128, 0.7);
    border: 1px solid aliceblue;
    border-radius: 10px;
}
.redir {
    width: 40%;
    margin-left: 30%;
    margin-right: 30%
}

input[type="text"] {
    border: none;
    border-radius: 9px;
}

.error-hovered {
    border: 1px solid red;
    border-radius: 7px;
}

#main_table tr td {
    vertical-align: top;
}

#main_table tr:nth-child(2) td:first-child {
    width: 30%;
}